<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>


  <div class="box" id="heading">
      <h1> <%=day%> </h1>
  </div>


  <div class="box">


<!-- I can use Label tag here -->
 <% Item.forEach( (item) => {   %>

<form action="/delete" method="post">

   <div class="item">
     <input type="checkbox" name = "checkbox" onChange = "this.form.submit()">
     <p><%= item.name%></p>
   </div>

  </form>

 <% });  %>



  <form class="item" action="/compose" method="post">
    <input type="text" name="item" placeholder="What's up" autocomplete="off">
    <button type="submit" name="button">+</button>
  </form>

</div>

</body>
</html>
